@using Newtonsoft.Json
@using TwentyOneDayApp.Models
@model TwentyOneDayApp.Models.ContainerCollection 
@{
    ViewBag.Title = Model.Date.ToShortDateString();
}
<div ng-controller="ContainerController">
    <h2>@ViewBag.Title</h2>
    <a href="#">+ Add Container</a>
    
    <ul id="containers">
        <li ng-repeat="key in Object.keys(containers)">
            {{ key }}
        </li>
    </ul>

</div>

@section bottomScripts
{
    <script>
        twdApp.controller("ContainerController",
            function ($scope) {
                $scope.types = @Html.Raw(JsonConvert.SerializeObject(new List<string> { ContainerType.Blue.ToString(), ContainerType.Green.ToString(), ContainerType.Orange.ToString(), ContainerType.Purple.ToString(), ContainerType.Red.ToString(), ContainerType.Yellow.ToString(), ContainerType.Teaspoon.ToString() }));
                $scope.containers = @Html.Raw(JsonConvert.SerializeObject(Model.Containers.ToDictionary(c => c.ContainerType.ToString(), c=> c)));

                $scope.update = function() {

                };

            }
        );
    </script>
}
