@using Newtonsoft.Json
@using TwentyOneDayApp.Models
@model TwentyOneDayApp.Models.ContainerCollection 
@{
    ViewBag.Title = Model.Date.ToShortDateString();
}
<div ng-controller="ContainerController">
    <h2>@ViewBag.Title</h2>
    <a href="#">+ Add Container</a>
    
    <ul id="containers">
        <li ng-repeat="key in Object.keys(containers)">
            {{ key }}
        </li>
    </ul>

</div>

@section bottomScripts
{
    <script>
        twdApp.controller("ContainerController",
            function ($scope) {
                $scope.types = @Html.Raw(ContainerExtensions.JsonContainerTypes());
                $scope.containers = @Html.Raw(Model.Containers.ToJson());

                $scope.update = function() {

                };

            }
        );
    </script>
}
