@using TwentyOneDayApp.Models
@model User
@{
    ViewBag.Title = "Twenty One Day Helper";
}

<a href="#">+ New</a>

<div class="collections">
    <ul>
    @foreach (var coll in Model.ContainerCollections)
    {
        <li>@Html.ActionLink(coll.Date.ToShortDateString(), "Detail", "Collection", new {year = coll.Date.Year, month=coll.Date.Month, day=coll.Date.Day}, null)</li>
    }
    </ul>
</div>

@*<div id="home" ng-controller="Home" ng-cloak>
    
    <h1>Today is {{ today }}.</h1>
    
    <div class="bucket">
        <span class="button green {{ row.checked ? 'checked': '' }}" ng-repeat="row in greens" ng-click="pressed()"></span>
    </div>
    <div class="bucket">
        <span class="button purple {{ row.checked ? 'checked': '' }}" ng-repeat="row in purples" ng-click="pressed()"></span>
    </div>
    <div class="bucket">
        <span class="button red {{ row.checked ? 'checked': '' }}" ng-repeat="row in reds" ng-click="pressed()"></span>
    </div>
    <div class="bucket">
        <span class="button yellow {{ row.checked ? 'checked': '' }}" ng-repeat="row in yellows" ng-click="pressed()"></span>
    </div>
    <div class="bucket">
        <span class="button blue {{ row.checked ? 'checked': '' }}" ng-repeat="row in blues" ng-click="pressed()"></span>
    </div>
    <div class="bucket">
        <span class="button orange {{ row.checked ? 'checked': '' }}" ng-repeat="row in oranges" ng-click="pressed()"></span>
    </div>

</div>
*@
@section bottomScripts
{
    @*<script src="~/Scripts/twdApp/homeController.js"></script>*@
}
